.form {
    /* position: fixed; */
    width: 100%;
    padding: 1rem 0;
    /* margin: auto; */
    bottom: 0;   
}

.form-control {
    width: 70%;
    padding: 12px;

    border: 1px solid #000;
    outline: none;
}

.form-control--submit {
    width: 30%;
    
    background: #000;
    color: #fff;
    cursor: pointer;
}

.form-control--submit:hover {
    background: rgba(0, 0, 0, 0.356);
}

/* .form-control--submit.dark-theme{
    background: rgb(202, 87, 87);
} */


@media screen and (max-width: 715px) {
    .form {
            width: 100%;
    }
}