.header {
      height: 80px;
      width: 100%;

      background: #000;
}

.header .container {
      height: inherit;

      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header__logo {
      font-size: 18px;
      color: #fff;
}

.header__logo a {
      color: #fff;
      text-decoration: none;
}

.header__logo a:hover {
      text-decoration: underline;
}

.navbar {
      display: flex;
      align-items: center;
      justify-content: center;
}

.navbar__item {
      list-style: none;
}

.navbar__btn {
      padding: 10px;
      border: none;
      outline: none;

      text-decoration: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
}

.navbar__btn--sign-in {
      background: rgb(95, 155, 86);
}

.navbar__btn--sign-out {
      background: rgb(226, 101, 101);
}