:root {
    /* COLORS */
    --dark-purple: rgb(18, 19, 53);
    --light-purple: rgb(31, 33, 77);
    --very-light-purple: rgb(47, 50, 104);

    --green: rgb(95, 155, 86);

    --red: rgb(226, 101, 101);


    /* LIGHT THEME */
    --white-light-theme: rgb(238, 238, 238);
    --light-gray-light-theme: rgb(187, 187, 187);

    /* DARK THEME */
    --dark-gray-dark-theme: rgb(26, 26, 26);


    /* DARK PURPLE THEME */

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Arimo', sans-serif;
}
/* 
body {
    background: var(--dark-purple);
    color: #fff;
} */

.container {
        width: 70%;
        margin: auto;
}

.button {
    width: 30%;
    min-width: 150px;
    padding: 12px;

    border: 1px solid var(--light-purple);
    background: #000;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #fff;
}

.light-theme {
    background: var(--white-light-theme);
    color: #000;
}

.dark-theme {
    background: var(--dark-gray-dark-theme);
    color: #fff;
}

.lavender-theme {
    background: var(--dark-purple);
    color: #fff;
}



@media screen and (max-width: 715px) {
    .container {
            width: 100%;
            padding: 1rem;
    }
}